<div class="categoria-card">

    <h2>
        Título de la declaración
    </h2>

    <br>

    <p>

        <strong>
            Como Él ha dicho:
        </strong>

        <br><br>

        "Versículo bíblico"

    </p>

    <br>

    <p>

        <strong>
            Referencia bíblica
        </strong>

    </p>

    <br>

    <p>

        <strong>
            Podemos decir confiadamente:
        </strong>

        <br><br>

        "Declaración de fe"

    </p>

    <br>

    <button class="btn-favorito">

        Guardar favorito

    </button>

</div>